<div class="header">
	<h2>Registration Form</h2>
</div>



<div class="container">
<%= form_for :registration_form, url:registration_forms_path do |r| %> 

  <div class="form-group text-success">
    <%= r.label :Student_Name, class: "col-sm-4 control-label "%>
    <%= r.text_field :name, class:"col-sm-6 form-control" %><br />
  </div>

   <div class="form-group text-success">
    <%= r.label :gender ,"Gender"   %><br/>
    <%= r.radio_button :gender, "male" %>
    <%= r.label :gender, "Male", :checked =>false  %>
    <%= r.radio_button :gender, "female" %>
    <%= r.label :gender, "Female", :checked => true %>
   </div>   

  <div class="form-group text-success">
    <%= r.label :Email, class: "col-sm-4 control-label "%>
    <%= r.email_field :email, class:"col-sm-6 form-control" %>
  </div>

  <div class="form-group text-success">
    <%= r.label :password, class: "col-sm-4 control-label "%>
    <%= r.password_field :password, class:"col-sm-6 form-control" %>
  </div>

  <div class="form-group text-success">
    <%= r.label :Roll_Number, class: "col-sm-4 control-label "%>
    <%= r.text_field :rollno, class:"col-sm-6 form-control" %>
  </div>

  <div class="form-group text-success">
    <%= r.label :Phone_Number, class: "col-sm-4 control-label "%>
    <%= r.text_field :phno, class:"col-sm-6 form-control" %>
  </div>

  <div class="form-group text-success">
    <%= r.label :qualification,class:"control-label"%><br>
    <%= r.select(:qualification, [['B.Tech', 'B.Tech'],['M.B.A', 'M.B.A'],['M.C.A', 'M.C.A'],['M.S.C','M.S.C']],{ :prompt => "Please select"},{ :multiple => true}) %>    
  </div>
   
  <div class="form-group text-success">
    <%= r.label :Address, class: "col-sm-4 control-label "%>
    <%= r.text_area :address, class:"col-sm-6 form-control",cols: "5", rows: "5" %>
  </div>


	<%= r.submit "save",class: "btn btn-info" %>
<%end%>


<div class="footer">@copy rights</div>
</div>