<div class="header">
	<h2>Registration Form</h2>
</div>



<center><h1>Show</h1></center>
<center><table border=1>
  <tr>
    <th>name</th>
    <th>roll no</th>
    <th>email</th>
    <th>ph no</th>
    <th>address</th>
    <th>qualification</th>

  </tr>
 
    <tr>
      <td><%= @registration_form.name %></td>
      <td><%= @registration_form.rollno %></td>
      <td><%= @registration_form.email %></td>
      <td><%= @registration_form.phno %></td>
      <td><%= @registration_form.address %></td>
      <td><%= @registration_form.qualification %></td>
       

  </tr>
</table></center>

<div class="footer">@copy rights</div>